*{
    box-sizing: border-box;
} 
#picture1{
    float: left;
    width: 350px;
    height:200px;
    position: relative;
}
.picture{
    width: 100%;
    height: 200px
}
#picture2{
    float: right;
    width:350px;
    height:200px;
    position: relative;
}
#picture4{
    float: right;
    width:350px;
    height:200px; 
    position:relative;  
}
#picture3{
    float: left;
    width: 350px;
    height: 200px;
    position: relative;
}
body{
    font-size: 15pt;
}
    
    




